
@media screen and (min-width:768px){

#maincontent{


}
  nav h1 a{
    font-size: 20pt;
  }

 #restaurants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 #restaurants-list li{
   width: 35%;

 }

#footer{
  width: 100%;
}

#restaurant-container, #reviews-container{
  width: 80%;
  margin: 0 auto;
}

#restaurant-cuisine{
  padding: 5px 0;
}
   #reviews-list{
     display: flex;
     flex-wrap: wrap;

   }
   #reviews-list li{
     width: 40%;
   }
   #reviews-list li:nth-child(2){
     margin-left:30px;
   }
   .rating{
     font-weight: 500;
   }

}

/*  ----------------------- DESKTOP ------------*/

@media screen and (min-width:1024px){


#map {
    height: 500px;
  }
#restaurant-container{
  width: 80%;
}
#restaurant-name {
  font-size: 20pt;
}
 #restaurants-list{
   justify-content: space-between;
 }
  #restaurants-list li{
    width: 35%;
    max-height: 70%;

  }
  #restaurant-img {
  	max-width: 60%;
    margin: 0 50px;
    padding: 0 90px;
    align-items: center;


}
#restaurant-cuisine{
  width: 60%;
  margin: 0 140px;
  max-height: 40px;

  }
#restaurant-address {
  font-size: 16pt;
  padding-top: 10px;

}
#restaurant-cuisine, #restaurant-address ,#restaurant-hours{
  margin: 0 140px;

}
#rating p{
  padding: 10px;
  font-size: 16px;
}
}
