
@media screen and (min-width:768px){

  nav h1 a{
    font-size: 20pt;
  }

 #restaurants-list , #reviews-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }


  #reviews-list li{
width: 45%;
  }
 #restaurants-list li{
   width: 40%;

 }

#footer{
  width: 100%;
}

#restaurant-cuisine{
  padding: 5px 0;
}
.rating{
  font-weight: 500;
  width: 40%;
}


/*  ----------------------- DESKTOP ------------*/

@media screen and (min-width:1024px){


#map {
    height: 500px;
  }
 #restaurants-list{
   justify-content: space-between;
 }
  #restaurants-list li{
    width: 30%;
    max-height: 70%;
  }
#restaurant-container{
width: 100%;
margin: 0 100px;
padding-left: 200px;
  }
  #restaurant-name {
    font-size: 24pt;
  }
#restaurant-img {
  	 max-width: 70%;

}
#restaurant-cuisine{
  /* width: 60%;
  margin: 0 140px;
  max-height: 40px; */

  }
#restaurant-address {
  font-size: 16pt;

}
#review-container{
  width: 90%;

}
#reviews-list{
  justify-content: space-between;
}
#reviews-list li{
width: 30%;
}
.rating{
  width: 40%;
}
.rating p{
  padding: 10px;
  font-size: 16px;

}
}
